@{
    ViewBag.Title = "welcome to photogram";
}

<div class="jumbotron">
    <h1>photogram</h1>
    <p class="lead">galergramz is a place where u can share ur photos with other people who can view it, share and rate!</p>
    <p><a href="https://localhost:44359/Galleries" class="btn btn-primary btn-lg">Here we go! &raquo;</a></p>
</div>
