@model IEnumerable<Photogram.Models.Category>

@{
    ViewBag.Title = "categories";
}

<h2>categories</h2>

@using (Html.BeginForm("Index", "Categories", FormMethod.Get))
{
}
    @Html.ActionLink("add new category", "Create", null, new { @class = "btn btn-primary btn-large" })
<div class="row">
    <hr />
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="col-md-5">
                <a href='@Url.Action("Details", new { @id = item.Id })'>
                    <img src="~/CategoriesPhoto/@item.ImageCategory" alt="Zdjęcie" height="200" width="200" />

                </a>
                @Html.DisplayFor(modelItem => item.Name)
                @Html.ActionLink("delete", "Delete", new { id = item.Id })
            </div>
        </div>
    }

</div>